# NuGet
.packages/
.nuget/

# Build
bin/
obj/
nsis-3.0.4.1

# .NET SDK (bundled)
.dotnet/
.publish/
.packages

# IDE
.idea/
.vs/
.vscode/

# macOS
.DS_Store

# Publish output
publish/

# Reasonix
.reasonix/
reasonix.toml
.trae/
